// BREACKPOINTS
$mw:1150px;

$md1:($mw + 30px);
$md2:991.98px;
$md3:767.98px;
$md4:575.98px;
// BREACKPOINTS


// CONTAINER
$cmd1: ($mw - 30px);
$cmd2: 960px;
$cmd3: 720px;
$cmd4: 540px;
// CONTAINER


// FONTS
$fnt_main: 'Raleway',
sans-serif;
// FONTS


// COLORS
$c_profile_main: #DC5EFF;
$c_profile_secondary: #B18CE2;
$c_profile_bg_main: #09051D;
$c_profile_bg_secondary: linear-gradient(180deg, #2F2F4C 35.94%, #282840 100%);;
$c_profile_bg_uplayer: #1D1F2F;
$c_profile_bg_uplayer_active:#1a0d33;

$c_main_dark: #222435;
$c_main: #09051D;
$c_main_gradient: linear-gradient(135deg, #FF6A28 0.06%, #FE2F57 99.45%);
$c_bg_dark: #020b0f;
$c_gold: #DC5EFF;
$c_error:#ea5460;
$c_success: #53b561;
$c_text_primary: #ffffff;
$c_text_secondary: #A6ABB2;
// COLORS

