.brands {
    .brands__inner {
        padding-top: size(16, 8);
        border-bottom: 2px solid rgba(#7859F1, 0.2);
    }

    .brands__row {
        padding: size(16, 8) 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        @media all and (max-width:$md2) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        @media all and (max-width:$md3) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .brands__item {
        transition: .3s;
        padding: 4px 0;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }


        &:hover {
            transform: scale(1.05);
        }
    }
}
