.header-img {
    margin-bottom: size(48, 24);
    border-radius: 8px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        min-height: 224px;
        object-fit: cover;
    }

}